.TextHighlight {
  position: absolute;
}

.TextHighlight__parts {
  opacity: 1;
}

.TextHighlight__part {
  cursor: pointer;
  position: absolute;
  transition: background 0.3s;
}

.BLOCK_INDEX {
  background-color: #28A9E1;
}

.BLOCK_PARAGRAPH{
  background-color: #f7888880;
}

.BLOCK_TEXT{
  background-color: #f7888880;
}

.BLOCK_TITLE{
  background-color: #d1d1ff;
}

.BLOCK_LIST{
  background-color: #bfe5ce;
}

.BLOCK_DISCARDED{
  background-color: #e2e2e2;
}

.BLOCK_IMAGE_BODY{
  background-color: #e0fec1;
}

.BLOCK_IMAGE_CAPTION{
  background-color: #d1e8ff;
}

.BLOCK_IMAGE_FOOTNOTE{
  background-color: #FFB266;
}

.BLOCK_INTEREQUATION{
  background-color: #00FF00;
}

.BLOCK_TABLE_BODY{
  background-color: #f0f0b3;
}

.BLOCK_TABLE_CAPTION{
  background-color: #ffffd1;
}

.BLOCK_TABLE_FOOTNOTE{
  background-color: #f7fff0;
}

.INORGANIC {
  background: #00ffff;
}

.REF_EXP {
  background: #bd0ea5;
}

.CONDITION {
  background: #ffe000;
}

.MATERIAL_AMOUNT {
  background: #a0522d;
}

.ORGANIC {
  background: #ff00ff;
}

.POLYMER {
  background: #ff4500;
}

.PROP_NAME {
  background: #1e90ff;
}

.CHAR_METHOD {
  background: rgb(160, 119, 138);
}

.POLYMER_FAMILY {
  background: #00ff00;
}

.PROP_VALUE {
  background: #ffd700;
}

.MONOMER {
  background: #B8BDD3;
}

.OTHER_MATERIAL{
  background: #1976d2;
}

.COMPOSITE{
  background: #8400ff;
}

.SYN_METHOD{
  background: #f09bc5;
}

.EVENT {
  background: #32CD32;
}



.INORGANIC_COLOR {
  color: #00ffff!important;
}

.REF_EXP_COLOR {
  color: #bd0ea5!important;
}

.CONDITION_COLOR {
  color: #ffe000!important;
}

.MATERIAL_AMOUNT_COLOR {
  color: #a0522d!important;
}

.ORGANIC_COLOR {
  color: #ff00ff!important;
}

.POLYMER_COLOR {
  color: #ff4500!important;
}

.PROP_NAME_COLOR {
  color: #1e90ff!important;
}

.CHAR_METHOD_COLOR {
  color: rgb(160, 119, 138)!important;
}

.POLYMER_FAMILY_COLOR {
  color: #00ff00!important;
}

.PROP_VALUE_COLOR {
  color: #ffd700!important;
}

.MONOMER_COLOR {
  color: #B8BDD3!important;
}

.OTHER_MATERIAL_COLOR {
  color: #1976d2!important;
}

.COMPOSITE_COLOR {
  color: #8400ff!important;
}

.SYN_METHOD_COLOR {
  color: #f09bc5!important;
}

.EVENT_COLOR {
  background: #32CD32!important;
}

/* .TextHighlight--scrolledTo .TextHighlight__part {
  background: #ff4141;
} */

.TextHighlight--scrolledTo .INORGANIC {
  background: #00aeff;
}
.TextHighlight--scrolledTo .CHAR_METHOD {
  background: rgb(197, 129, 161);
}
.TextHighlight--scrolledTo .PROP_NAME {
  background: rgb(0, 4, 255);
}
.TextHighlight--scrolledTo .POLYMER {
  background: #ff4141;
}
.TextHighlight--scrolledTo .POLYMER_FAMILY {
  background: #33ff00;
}
.TextHighlight--scrolledTo .ORGANIC {
  background: #ff00d4;
}
.TextHighlight--scrolledTo .MATERIAL_AMOUNT {
  background: #f34d00;
}
.TextHighlight--scrolledTo .CONDITION {
  background: #ffd900;
}
.TextHighlight--scrolledTo .REF_EXP {
  background: #ff00dd;
}
.TextHighlight--scrolledTo .PROP_VALUE {
  background: #ffd000;
}
.TextHighlight--scrolledTo .MONOMER {
  background: #494c5c;
}
.TextHighlight--scrolledTo .OTHER_MATERIAL {
  background: #0080ff;
}
.TextHighlight--scrolledTo .COMPOSITE {
  background: #6a02be;
}
.TextHighlight--scrolledTo .SYN_METHOD {
  background: #f74fa3;
}

.TextHighlight--scrolledTo .EVENT {
  background: #179717!important;
}


.TextHighlight--scrolledTo .BLOCK_PARAGRAPH {
  background: #ff000080;
}

.TextHighlight--scrolledTo .BLOCK_TEXT {
  background: #ff000080;
}

.TextHighlight--scrolledTo .BLOCK_TITLE {
  background: #ff000080;
}

.TextHighlight--scrolledTo .BLOCK_LIST {
  background: #ff000080;
}

.TextHighlight--scrolledTo .BLOCK_DISCARDED {
  background: #ff000080;
}

.TextHighlight--scrolledTo .BLOCK_IMAGE_BODY {
  background: #ff000080;
}

.TextHighlight--scrolledTo .BLOCK_IMAGE_CAPTION {
  background: #ff000080;
}

.TextHighlight--scrolledTo .BLOCK_TABLE_BODY {
  background: #ff000080;
}

.TextHighlight--scrolledTo .BLOCK_TABLE_CAPTION {
  background: #ff000080;
}

.TextHighlight--scrolledTo .BLOCK_TABLE_FOOTNOTE {
  background: #ff000080;
}

.TextHighlight--scrolledTo .BLOCK_INDEX {
  background: #ff000080;
}

.TextHighlight--scrolledTo .BLOCK_INTEREQUATION {
  background: #ff000080;
}

.TextHighlight--scrolledTo .BLOCK_IMAGE_FOOTNOTE {
  background: #ff000080;
}

.has_property_COLOR {
  color: purple!important;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  border-radius: 5px;
}

.has_value_COLOR {
  color: green;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  border-radius: 5px;
}

.has_amount_COLOR {
  color: red!important;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  border-radius: 5px;
}

.has_condition_COLOR {
  color: gray!important;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  border-radius: 5px;
}

.abbreviation_of_COLOR {
  color: blue!important;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  border-radius: 5px;
}

.refers_to_COLOR {
  color: cyan!important;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  border-radius: 5px;
}

.synthesised_by_COLOR {
  color: red!important;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  border-radius: 5px;
}

.characterized_by_COLOR {
  color: black!important;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  border-radius: 5px;
}




.TextHighlight span.MuiBadge-badge {
  color: white;
}