/* styles.css */
.custom-fileUploader {
    width: 600px; /* Adjust the width as needed */
    height: 15vh!important; /* Adjust the height as needed */
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #333;
}


.custom-fileUploader span{
    font-size: 1.1rem!important;
}